# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary
type(data)

dict

In [4]:
data1=dict() #empty dictionary method 2
type(data1)

dict

In [7]:
data={'Alabama':'Montgomery',
      'Arizona':'Pheonix',
      'Georgia':'Atlanta',
      'Kentucky':'Frankfort',
      'Ohio':'Salem'} #Key:Value
print(data)
type(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

dict

In [10]:
data['Kentucky'] #Access the value by calling the key

'Frankfort'

In [11]:
data['Alabama'] #Has to be a unique key, can repeat values

'Montgomery'

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [24]:
day={1:'Monday',
    2:'Tuesday',
    4:['Thursday','Friday'],
    5:('Saturday','Sunday')}

In [25]:
#Access Monday
day[1]

'Monday'

In [26]:
#Access Friday
day[4][1] #[Key][index]

'Friday'

In [27]:
#Access Saturday
day[5][0]

'Saturday'

### Update elements of a dictionary and add new elements

In [28]:
#update Sunday to Holiday
day[5][1]='Holiday' #can not update a tuple in a dictionary

TypeError: 'tuple' object does not support item assignment

In [29]:
#update Thursday to Holiday
day[4][0]='Holiday'

In [30]:
#update Monday to Holiday
day[1]='Holiday'

In [31]:
data['Louisiana']

KeyError: 'Louisiana'

### `get` and `update` methods #can only update values, key is unique and immutable: value is mutable

In [32]:
data.get('Arizona')

'Pheonix'

In [33]:
data.get('Louisiana') #.get does not generate an error, this is how it is different from get

In [37]:
#update an old value to a  new value and add a new key value pair 
print(data)
data.update({'Kentucky':'Louisville',    'Louisiana':'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [38]:
print(data) #update method adds to the end of the dictionary

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [40]:
data.update({'alabama':'Montgomery'}) #only way to change a key is to add one
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [41]:
data
del data['Alabama']

In [42]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [43]:
del data['Ohio']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [44]:
deleted_state=data.pop('Arizona')
print('Deleted Capital:',deleted_state)

Deleted Capital: Pheonix

In [45]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [47]:
#delete Montgomery using pop
deleted_capital=data.pop('alabama')
print('Deleted Capital:',deleted_capital)
data

Deleted Capital: Montgomery

{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [48]:
#delete all three 
del data #the entire dictionary was deleted, if you want to keep the dictionary, you will have to pop one value at a time
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [50]:
data={'Alabama':'Montgomery',
      'Arizona':'Pheonix',
      'Georgia':'Atlanta',
      'Kentucky':'Frankfort',
      'Ohio':'Salem'}

In [52]:
#number of elements in the dictionary
len(data)

5

In [54]:
#extracting keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [55]:
#extract value
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

In [57]:
#generate items, key:value pairs 
print(data.items())
type(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

dict_items

### Loop through a dictionary

In [58]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [60]:
#loop through dictionary keys
for i in data.keys(): #to unpack dict items, use a for loop 
    print(i)
type(i)

Alabama
Arizona
Georgia
Kentucky
Ohio

str

In [63]:
#loop through dictionary values
for i in data.values():
    print('The capital is',i)
type(i)

The capital is Montgomery
The capital is Pheonix
The capital is Atlanta
The capital is Frankfort
The capital is Salem

str

In [64]:
#loop through the items
for i in data.items():
    print('The state and capital pair is',i)
type(i)

The state and capital pair is ('Alabama', 'Montgomery')
The state and capital pair is ('Arizona', 'Pheonix')
The state and capital pair is ('Georgia', 'Atlanta')
The state and capital pair is ('Kentucky', 'Frankfort')
The state and capital pair is ('Ohio', 'Salem')

tuple

In [71]:
#same as top but unpacking tuple to string
for i,j in data.items():
    print(i,'is the state and',j,'is the capitol')
    print(type(i),type(j))

Alabama is the state and Montgomery is the capitol
<class 'str'> <class 'str'>
Arizona is the state and Pheonix is the capitol
<class 'str'> <class 'str'>
Georgia is the state and Atlanta is the capitol
<class 'str'> <class 'str'>
Kentucky is the state and Frankfort is the capitol
<class 'str'> <class 'str'>
Ohio is the state and Salem is the capitol
<class 'str'> <class 'str'>

### Convert dictionary values to lists using `list()` function

In [72]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [73]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [74]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

###  A Dictionary in a Dictionary